/**
 * Symphony Admin Master Layout
 */

/* Less variables --------*/
@import "variables";

/* Master Layout --------*/
body {
	min-width: var(--xxs);
	min-height: 100%;
	/* Master Layout Base --------*/
	>nav {
		max-width: 100%;
		overflow: auto;

		&::-webkit-scrollbar {
			background-color: var(--scrollbar-background-color);
			height: var(--scrollbar-height);
			width: var(--scrollbar-width);
		}

		&:hover::-webkit-scrollbar {
			&-thumb {
				background-color: var(--scrollbar-thumb-background-color);
				border-radius: var(--scrollbar-thumb-border-radius);
			}
		}
	}

	>header {
		/* Center elements & rhythm --------*/
		margin: var(--standard-container-rhythm);
		display: flex;
		align-items: center;
		justify-content: space-between;

		h1 {

			a {
				/* Center relative to sun --------*/
				display: inline-flex;
				flex-direction: column;
				align-items: center;
				/* Rhythm --------*/
				>*+* {
					margin-left: var(--standard-inner-rhythm);
				}
			}
		}
	}
	
	/* Master Layout for Narrow Viewports --------*/
	@media (max-width: @sm) {
		/* Fix the nav and fit the screen --------*/
		>nav {
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: var(--backframe-background-color);
			padding: var(--standard-container-rhythm);
			display: flex;
			flex-direction: column;
			padding-top: var(--spacing-larger);
			z-index: 11;

			&:not(.is-opened) {
				opacity: 0;
				pointer-events: none;
			}
		}
		/* Make sure the header is over the nav --------*/
		>header {
			position: relative;
			z-index: 12;
			
		}
		/* Make the context span its whole line --------*/
		>aside {
			clear: both;
			margin-top: var(--standard-container-rhythm);
			margin-bottom: var(--standard-container-rhythm);
		}
	}

	/* Master Grid Layout — ignoring containers  --------*/
	@media (min-width: @sm) {
		height: 100vh;
		display: grid;
		grid-template-rows: auto 1fr min-content;
		grid-template-columns: auto 1fr auto max-content;
		grid-template-areas:
			"header context secondary controls" 
			"nav primary secondary controls"
			"session primary secondary controls"
			"footer primary secondary controls";

		>main, >header, >header>h1, 
		&[id="publish"].page-single>main>form {
			display: contents;
		}

		>header>h1>a {
			grid-area: header;
			margin: var(--standard-inner-rhythm);
			flex-direction: row;
			align-items: center;
			align-self: start;
		}

		>header [id="session"] {
			grid-area: session;
			margin-left: var(--standard-container-rhythm);
		}

		>nav {
			grid-area: nav;
			padding: var(--standard-container-rhythm);
			padding-top: var(--spacing-large);
			margin-left: var(--standard-inner-rhythm);
			width: var(--navigation-sidebar-width);
			max-width: var(--navigation-sidebar-max-width);
		}

		>footer {
			grid-area: footer;
			margin: var(--standard-container-rhythm);
		}

		>main>aside {
			grid-area: context;
			border-left: 1px solid var(--color-ui);
			padding: var(--standard-inner-rhythm);
		}

		>main>form>.secondary, >main>form+div {
			grid-area: secondary;
			border-top: 1px solid var(--color-ui);
			// align-self: center;
			border-left: 1px solid var(--color-ui);
		}
		
		>main>form>.primary, >main>form {
			grid-area: primary;
			border-top: 1px solid var(--color-ui);
			border-left: 1px solid var(--color-ui);
		}

		[id="controls"] {
			grid-area: controls;
			border-top: 1px solid var(--color-ui);
			border-left: 1px solid var(--color-ui);
		}
	}


	/* Content publishing interface specifics --------*/
	&[id="publish"].page-single {
		
		[id="breadcrumbs"] {
			&:after {
				content: "";
			}
			nav, &:after {
				flex-basis: 0;
				flex-grow: 1;
				overflow: hidden;
			}

			h2 {
				margin: 0 auto;
				flex-basis: var(--dimension-smallest);
			}
		}

		fieldset {
			// margin: 0;
			padding: var(--standard-container-rhythm);
			max-height: 100%;
			overflow: auto;
			box-sizing: border-box;

			&::-webkit-scrollbar {
				background-color: var(--scrollbar-background-color);
				height: var(--scrollbar-height);
				width: var(--scrollbar-width);
			}

			&:hover::-webkit-scrollbar {
				&-thumb {
					background-color: var(--scrollbar-thumb-background-color);
					border-radius: var(--scrollbar-thumb-border-radius);
				}
			}

			&.primary {
				background-color: var(--frontframe-background-color);
				padding: var(--standard-container-rhythm);

				.field {
					background-color: var(--color-clear);
					max-width: var(--dimension-smallest);
					margin-left: auto;
					margin-right: auto;
				}

			}

			&.secondary {
				width: var(--sidebar-width);

				.field {
					background-color: var(--sidebar-background-color);
				}

			}
		}
	}
}

/* Minimal styles for the burger button --------*/
#btn-toggle-header-mobile {
	color: var(--color-main-dark);
	&:hover {
		color: var(--color-accent);
	}

	@media (min-width: @sm){
		display: none;
	}
}

/* Version element --------*/
#version {
	font-size: var(--text-smaller);
	color: var(--color-main-light);
}