/**
 * Symphony Admin Master Layout
 */

/* Less variables --------*/
@import "variables";

/* Master grid layout --------*/
html {
	height: 100%;
	min-height: 100%;
}
body {
	min-height: 100%;
	display: grid;
	grid-template-areas: 
		"header context context session"
		"primary primary primary primary"
		"secondary secondary secondary secondary"
		"footer footer footer footer"
		"nav nav controls controls";
		grid-template-rows: 
			var(--spacing-broadest) 
			minmax(calc(100vh - var(--spacing-broadest) * 2), auto) 
			auto 
			auto 
			var(--spacing-broadest);
		grid-template-columns: min-content auto minmax(0, 1fr) auto;

	/* Make sure the scrollbar space is always occupied for stability reasons --------*/
	overflow-y: scroll;

/* Zap structural elements to get children on master grid --------*/
	>main, >header, >header>h1, >main>form {
		display: contents;
	}
	
	/* Master Layout Base --------*/
	>nav {
		max-width: 100%;
		overflow: auto;
	}

	>header>h1>a {
		grid-area: header;
		padding: var(--standard-inner-rhythm);
	}

	[id="session"] {
		grid-area: session;
	}

	>nav {
		grid-area: nav;
		padding: var(--standard-container-rhythm);
		padding-top: var(--spacing-large);
		padding-left: calc(var(--standard-container-rhythm) + var(--standard-inner-rhythm));
	}

	>footer {
		grid-area: footer;
		margin: var(--standard-container-rhythm);
	}

	>aside {
		grid-area: context;
		padding: var(--standard-inner-rhythm);
	}

	>main>form>* {
		position: relative;
	}

	>main>form>.primary,
	>main>form>.secondary {
		display: flex;
		flex-direction: column;
	}

	>main>form>.secondary,
	>main>form~* {
		grid-area: secondary;
		border-left: 1px solid var(--color-ui);
	}
	
	>main>form>.primary {
		grid-area: primary;
		background-color: var(--frontframe-background-color);
	}


	>main>form>.primary>[role="directory"] {
		flex-grow: 1;
	}

	[id="controls"] {
		grid-area: controls;
		z-index: 2;
	}

	#btn-toggle-header-mobile {
		grid-area: nav;
	}
	
	/* Master Layout for Narrow Viewports --------*/
	@media (max-width: @md) {
		/* Fix the nav and fit the screen --------*/
		>nav {
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: var(--backframe-background-color);
			padding: var(--standard-container-rhythm);
			display: flex;
			flex-direction: column;
			padding-top: var(--spacing-larger);
			z-index: 11;

			&:not(.is-opened) {
				opacity: 0;
				pointer-events: none;
			}
		}

		/* Create top bar --------*/
		>header>h1>a,
		[id="session"],
		[id="context"] {
			background-color: var(--backframe-background-color);
			z-index: 1;
		}

		/* Create bottom bar --------*/
		[id="controls"],
		#btn-toggle-header-mobile {
			background-color: var(--backframe-background-color);
			padding: var(--standard-inner-rhythm) var(--standard-container-rhythm);
			border-top: 1px solid var(--color-ui);
			position: sticky;
			bottom: 0;
			display: flex;
			align-items: center;
			/* Make sure it's above the nav --------*/
			z-index: 12;
		}

		#btn-toggle-header-mobile {
			border-right: 1px solid var(--color-ui);
		}

		main>form>.primary {
			overflow: auto;
		}

		[id="controls"],
		[id="session"] {
			display: flex;
			justify-content: flex-end;
		}

		[id="session"]>ul {
			z-index: 2;
			bottom: auto;
			top: 100%;
		}

		>footer {
			position: absolute;
			bottom: var(--spacing-broad);
		}
	}

	@media (min-width: @xs) {
		grid-template-areas: 
			"header header context session"
			"primary primary primary primary"
			"secondary secondary secondary secondary"
			"footer footer footer footer"
			"nav controls controls controls";
	}

	/* Deployed grid layout for larger windows  --------*/
	@media (min-width: @md) {
		height: 100vh;
		grid-template-rows: auto auto 1fr min-content;
		grid-template-columns: 
			minmax(var(--navigation-sidebar-width), var(--navigation-sidebar-max-width))
			minmax(0, 1fr)
			auto
			max-content;
		grid-template-areas:
			"header context secondary controls" 
			"nav context secondary controls"
			"nav primary secondary controls"
			"session primary secondary controls"
			"footer primary secondary controls";

		>main>form>[class] {
			max-height: 100%;
			overflow: auto;
		}

		>header [id="session"] {
			margin-left: var(--standard-container-rhythm);
		}

		>aside {
			border-left: 1px solid var(--color-ui);
		}

		>main>form>.secondary,
		>main>form~* {
			border-left: 1px solid var(--color-ui);
			
			width: var(--sidebar-width);
			max-width: var(--sidebar-max-width);
		}
		
		>main>form>.primary {
			border-top: 1px solid var(--color-ui);
			border-left: 1px solid var(--color-ui);
		}

		[id="controls"] {
			flex-direction: column;
			border-left: 1px solid var(--color-ui);
			padding: var(--standard-inner-rhythm);
			padding-top: var(--standard-container-rhythm);
		}
	}


	/* Content publishing interface specifics --------*/
	&[id="publish"].page-single {
		
		/* Align page title with primary fields --------*/
		[id="breadcrumbs"] {
			&:after {
				content: "";
			}
			nav, &:after {
				flex-basis: 0;
				flex-grow: 1;
				overflow: hidden;
			}

			h2 {
				margin: 0 auto;
				flex-basis: var(--dimension-smallest);
			}
		}

		main>form>div {
			
			&.primary,
			&.secondary {
				padding: 0 var(--standard-container-rhythm);
				
				/* Forced vertical spacing in scrolling parent --------*/
				&:before, &:after {
					content: "";
					display: block;
					height: var(--standard-container-rhythm);
					flex-shrink: 0;
				}

				.field {
					max-width: var(--dimension-smallest);
					width: 100%;
					margin-left: auto;
					margin-right: auto;
				}

				@media (max-width: @sm) {
					min-height: 100%;
				}
			}

			&.primary {

				.field {
					background-color: var(--color-clear);
					
					/* Center fields vertically if in small quantities --------*/
					&:first-child {
						margin-top: auto;
					}

					&:last-child {
						margin-bottom: auto;
					}
				}

				@media (max-width: @sm) {
					z-index: 1;
				}

			}

			&.secondary {

				.field {
					background-color: var(--sidebar-field-background-color);
				}

				@media (max-width: @sm) {
					min-height: calc(100vh - var(--spacing-broadest));
					box-sizing: border-box;
					position: sticky;
					bottom: var(--spacing-broadest);

					.field {
						/* Center fields vertically if in small quantities --------*/
						&:first-child {
							margin-top: auto;
						}

						&:last-child {
							margin-bottom: auto;
						}
					}
				}

			}
		}
	}
}

/* Minimal styles for the burger button --------*/
#btn-toggle-header-mobile {
	color: var(--color-main-dark);
	&:hover {
		color: var(--color-accent);
	}

	@media (min-width: @sm){
		display: none;
	}
}

/* Version element --------*/
#version {
	font-size: var(--text-smaller);
	color: var(--color-main-light);
}