/**
 * Symphony Admin Layout
 */

/*-----------------------------------------------------------------------------
	LESS — Variables Importing
-----------------------------------------------------------------------------*/

@import "variables";

/*--------------------------------------------------------------------------
	Structure
--------------------------------------------------------------------------*/

body {
	min-width: var(--xxs);
	min-height: 100%;
	
	>nav {
		max-width: 100%;
	}

	>header {
		margin: var(--standard-container-rhythm);
		display: flex;
		align-items: center;
		justify-content: space-between;

		h1 {
			// margin-right: auto;
			a {
				display: inline-flex;
				flex-direction: column;
				align-items: center;
				
				>*+* {
					margin-top: var(--standard-inner-rhythm);
				}
			}
		}
	}
	
	@media (max-width: @sm) {
		>nav {
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: var(--backframe-background-color);
			padding: var(--standard-container-rhythm);
			display: flex;
			flex-direction: column;
			padding-top: var(--spacing-larger);
			// align-items: center;
			// justify-content: center;
			z-index: 11;

			&:not(.is-opened) {
				opacity: 0;
				pointer-events: none;
			}
		}
		>header {
			position: relative;
			z-index: 12;
			// h1>a {
			// 	>*+* {
			// 		margin-left: var(--standard-inner-rhythm);
			// 	}
			// }
		}
		>aside {
			clear: both;
			margin-top: var(--standard-container-rhythm);
			margin-bottom: var(--standard-container-rhythm);
		}
	}

	@media (min-width: @sm) {
		padding: var(--standard-container-rhythm);

		>header {
			display: contents;
			
			h1 {
				float: left;
				width: var(--navigation-sidebar-width);
				max-width: var(--navigation-sidebar-max-width);
				height: var(--spacing-large);
				top: var(--standard-container-rhythm);
				position: sticky;
			}

			>div {
				float: right;
			}
		}
		
		>nav {
			margin-top: var(--standard-container-rhythm);
			margin-bottom: var(--standard-container-rhythm);
			float: left;
			clear: left;
			position: sticky;
			box-sizing: border-box;
			width: var(--navigation-sidebar-width);
			max-width: var(--navigation-sidebar-max-width);
			padding-right: var(--standard-container-rhythm);
			top: calc(var(--spacing-large) + var(--standard-container-rhythm) * 2);
		}
		
		>main {
			// margin-left: var(--navigation-sidebar-max-width);
			overflow: auto;
			clear: right;
		}

		>aside {
			position: sticky;
			top: var(--standard-container-rhythm);
		}

		>footer {
			position: sticky;
			bottom: var(--standard-container-rhythm);
			clear: left;
		}
	}

	@media (min-width: @lg) {
		>main {
			padding-right: var(--spacing-broader);
		}
	}
	
}

#mobile-bg-menu-toggler {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
	background-color: var(--color-accent-lighter);
	opacity: 0;
	pointer-events: none;

	body.is-header-opened & {
		pointer-events: all;
	}

	@media (min-width: @sm) {
		display: none;
	}
}

#btn-toggle-header-mobile {
	// display: flex;
	// align-items: center;
	// justify-content: center;
	// box-sizing: border-box;
	color: var(--color-main-dark);
	// width: var(--spacing-broadest);
	// height: var(--spacing-broadest);
	// flex: none;

	&:hover {
		color: var(--color-accent);
	}

	@media (min-width: @sm){
		display: none;
	}
}



/* Version */

#version {
	font-size: var(--text-smaller);
	color: var(--color-main-light);
}


#contents-actions {
	display: flex;
	margin-left: auto;
	align-items: center;
}


/*--------------------------------------------------------------------------
	Publish
--------------------------------------------------------------------------*/
#publish.page-single {
	#contents {

		.columns {
			margin-left: 0;
		}

		.column {
			padding: var(--standard-container-rhythm);

			@media (min-width: @xs) {
				padding: 0 var(--standard-container-rhythm);
				
				&.primary {
					flex-grow: 1;

					&:not(:last-of-type) {
						width: calc(100% - var(--spacing-thinner) - var(--dimension-tiny));
						margin-right: auto;
					}

					&:last-of-type {
						max-width: var(--dimension-smaller);
					}
				}
			}
	
			&.secondary {
				background-color: var(--sidebar-background-color);
			}
		}
	}
}

/*--------------------------------------------------------------------------
	Pagination
--------------------------------------------------------------------------*/

ul.page {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: var(--standard-container-rhythm);
	box-sizing: border-box;
	margin: 0;
	color: var(--color-main-dark);
	cursor: default;
	background-color: var(--color-accent-lighter);
	width: 100%;

	a {
		color: var(--color-accent);

		&:hover {
			color: var(--color-main-dark)
		}
	}

	input {
		border-radius: var(--radius-current);
		color: var(--color-main-dark);
		font-size: var(--text-short);
		text-align: center!important;
		line-height: 1em;
		padding: var(--spacing-thinnest) var(--spacing-thinner);
		border: 1px solid var(--color-main-light);
		box-shadow: none;
		outline: none;
	}

	form.invalid input {
		border-color: var(--color-error);
	}

	li {
		font-size: var(--text-current);

		& + li {
			margin-left: var(--spacing-thinner);
		}
	}
}
