/**
 * Symphony Drawers
 *
 * Drawers are areas in the backend that contain additional information
 * like settings or documentation. They are hidden by default and can be
 * expanded on click.
 *
 * @since Symphony 2.3
 */

@import "variables";


/* The div tag prevents leaking to drawer trigger --------*/
div.drawer {
		background: var(--sidebar-background-color);

		&::-webkit-scrollbar {
			display: none;
		}

		&.horizontal {
			flex: 100% 0 0;
			z-index: 11;
			border-radius: var(--radius-current);

			/* Outer rhythm --------*/
			margin-top: var(--standard-container-rhythm);
			margin-bottom: var(--standard-inner-rhythm);
		}

		&:not(.horizontal) {
			
			/* Transition styles --------*/
			transition-timing-function: var(--ease-current);
			transition-delay: 0ms, var(--duration-shortest);
			transition-duration: var(--duration-long), var(--duration-short);
			transition-property: bottom, opacity;
			
			/* Layout and scrolling behavior --------*/
			width: var(--sidebar-width);
			padding-top: var(--spacing-broad);
			position: absolute;
			top: var(--spacing-thinner);
			bottom: 0;
			overflow-x: hidden;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;

			/* Mask and prevent interaction when not opened --------*/
			&:not(.opened) {
				opacity: 0;
				bottom: 100%;
				pointer-events: none;
			}

			.contents {
				padding: 0 0 var(--spacing-broadest);
			}
		}

		.close-btn {
			margin-left: var(--standard-container-rhythm);
		}

		/* Position and style vertical variants --------*/
		&.vertical-left {
			left: 0;
		}

		&.vertical-right {
			right: var(--spacing-broader);
			border-bottom-right-radius: var(--radius-big);
			border-bottom: 1px solid var(--color-ui);
			border-right: 1px solid var(--color-ui);
		}
	}
// }
