/**
 * Symphony Drawers
 *
 * Drawers are areas in the backend that contain additional information
 * like settings or documentation. They are hidden by default and can be
 * expanded on click.
 *
 * @since Symphony 2.3
 */

/* The div tag prevents leaking to drawer trigger --------*/
div.drawer {
		background: var(--backframe-background-color);

	&.horizontal {
		flex: 100% 0 0;
		z-index: 2;
		border-radius: var(--radius-current);

		/* Outer rhythm --------*/
		margin-top: var(--standard-outer-rhythm);
		margin-bottom: var(--standard-inner-rhythm);


		body:not(.drawer-horizontal) & {
			display: none;
		}
	}

	&:not(.horizontal) {
		/* Layout and scrolling behavior --------*/
		padding-top: var(--spacing-broad);
		z-index: 1;
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;

		/* Mask and prevent interaction when not opened --------*/
		&:not(.opened) {
			padding: 0;
			pointer-events: none;
			width: 0;
			height: 0;
			overflow: hidden;
		}

		.contents {
			padding: 0 0 var(--spacing-broadest);
		}
	}


	/* Position and style vertical variants --------*/
	&.vertical-left {
		left: 0;
	}
}
