/**
* Symphony Contents
*
* This file contains styles for the main contents container
*
* @since Symphony 4.0.0
*/

/*-----------------------------------------------------------------------------
	LESS — Variables Importing
-----------------------------------------------------------------------------*/

@import "variables";

/*--------------------------------------------------------------------------
	Contents
--------------------------------------------------------------------------*/

[role="main"] {
	// box-sizing: border-box;
	position: relative;
	border-radius: var(--radius-big);

	// @media (max-width: (@sm - 1)) {
	// 	padding: 0;
	// }

	&.spaced-top {
		padding-top: ~'calc(var(--standard-container-rhythm) + var(--spacing-broadest))';
	}

	> form {
		background-color: var(--frontframe-background-color);
		border-radius: var(--radius-big);
		border: 1px solid var(--color-ui);

		> #contents-actions:not(:empty) + table {
			border-top: 1px solid var(--color-main-lighter);

			thead {
				position: static;
			}
		}

		.pagination {
			margin-bottom: var(--standard-container-rhythm);
		}

		// .js-active & {
			// opacity: 1;
			// transform: none;
		// }

		// >*:last-child {
		// 	margin-bottom: var(--standard-container-rhythm);
		// }
	}

	// > p:first-child {
	// 	margin: 0 0 var(--standard-container-rhythm)!important;
	// }

	// > form:first-child {
	// 	margin-right: 0!important;
	// }

	// @media (max-width: (@sm - 1)) {
	// 	padding-left: 0;
	// 	padding-top: 0;

	// 	& > form {
	// 		border-top-left-radius: 0;
	// 		border-top-right-radius: 0;
	// 	}
	// }

	.actions {
		margin: var(--standard-inner-rhythm);

		input, select, button {
			font-size: var(--text-small);
		}
	}

	#publish.page-single & {
		.columns {
			margin-left: 0;
		}

		.column {
			padding: var(--standard-container-rhythm);

			@media (min-width: @xs) {
				padding: 0 var(--standard-container-rhythm);
				padding-bottom: var(--radius-big);

				&.primary {
					flex-grow: 1;

					&:not(:last-of-type) {
						width: calc(100% - var(--spacing-thinner) - var(--dimension-tiny));
						margin-right: auto;
					}
				}
			}
	
			&.secondary {
				background-color: var(--sidebar-background-color);
				border-bottom-right-radius: var(--radius-big);
			}
		}
	}

}

