/**
 * Symphony Grids and columns
 *
 * @since: Symphony 2.3
 */

/* Generic grid definition --------*/
.columns {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	legend {
		align-self: flex-start;
		flex-basis: 100%;
		flex-shrink: 0;
		margin-bottom: 0;
	}

	&.two .column {
		width: calc(50% - var(--standard-side-rhythm) / 2);

		@media (max-width: (@xs - 1)){
			width: 100%;
		}
	}

	&.three .column {
		width: calc(33.33% - var(--standard-side-rhythm) / 3);
	}

	&.four .column {
		width: calc(25% - var(--standard-side-rhythm) / 4);
	}
}
