/**
* Symphony Pagination
*
* This file contains styles for the pagination inputs
* used in entry directory view.
*
* @since Symphony 4.0.0
*/

/* Less variables --------*/
@import "variables";

/* Pagination container --------*/
ul.page {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: var(--standard-container-rhythm);
	box-sizing: border-box;
	margin: 0;
	color: var(--color-main-dark);
	cursor: default;
	background-color: var(--color-accent-lighter);
	width: 100%;

	a {
		color: var(--color-accent);

		&:hover {
			color: var(--color-main-dark)
		}
	}

	input {
		border-radius: var(--radius-current);
		color: var(--color-main-dark);
		font-size: var(--text-small);
		text-align: center!important;
		line-height: 1em;
		padding: var(--spacing-thinnest) var(--spacing-thinner);
		border: 1px solid var(--color-main-light);
		box-shadow: none;
		outline: none;
	}

	form.invalid input {
		border-color: var(--color-error);
	}

	li {
		font-size: var(--text-current);

		& + li {
			margin-left: var(--spacing-thinner);
		}
	}
}
