/**
 * Symphony Buttons
 *
 * This file contains basic styles for submits
 * and buttons that are shared across the system. 
 *
 * @since Symphony 4.0.0
 */

input[type=button],
input[type=submit],
button,
.button {
	cursor: pointer;
	box-sizing: content-box;
	background-color: var(--color-main-lighter);
	border: 0;
	padding: var(--spacing-thinnest);
	border-radius: var(--radius-small);
	color: var(--color-main-dark);
	outline: 0;
	font-size: var(--standard-button-font-size);
	line-height: 1.1em;
	-webkit-font-smoothing: auto;

	&:hover {
		background-color: var(--color-accent);
		color: var(--color-clear);
	}

	&:focus {
		box-shadow: 0 0 0 2px var(--color-main-light),
						0 0 4px 0 var(--color-main-lighter);
	}

	&.selected {
		background-color: var(--color-accent-alt-light);
	}

	&:active {
		box-shadow: 0px -1px 1px var(--color-ui), inset 0px 0px 1px var(--color-main);
		top: 2px;
		outline: 0;
	}

	* {
		vertical-align: middle;
	}

	/* Horizontal rhythm for icon and text --------*/
	svg+* {
		margin-left: var(--spacing-micro);
	}

	/* Limit graphical impact when disabled --------*/
	&[disabled=disabled] {
		box-shadow: 0px 2px 1px var(--color-main-light);
		background: var(--color-main-lighter);

		&:hover {
			background: var(--color-main-lighter);
		}
	}
}
