/**
 * Symphony Forms
 *
 * This file contains unified styles for inputs, text areas, multiple selects
 * and buttons that are shared across the system. It does not contain general
 * label and fieldset definitions that differ in the different areas of Symphony.
 *
 * @since Symphony 2.3
 */

/* Less variables --------*/
@import "variables";

/* Base styles for generic inputs --------*/
input,
textarea,
select {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	background-color: transparent;
	outline: none;
	
	transition-duration: var(--duration-shortest);
	
	box-sizing: border-box;
	border-radius: var(--standard-field-radius);
	color: var(--standard-field-color);
	line-height: 1.2em;
	font-size: var(--standard-field-font-size);

	&::-webkit-scrollbar {
		background-color: var(--scrollbar-background-color);
		height: var(--scrollbar-height);
		width: var(--scrollbar-width);
	}

	&:hover::-webkit-scrollbar {
		&-thumb {
			background-color: var(--scrollbar-thumb-background-color);
			border-radius: var(--scrollbar-thumb-border-radius);
		}
	}
}


textarea {
	line-height: 1.6em;
	resize: vertical;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px rgba(255,255,0,.6) inset;
    transition: background-color 5000s ease-in-out 0s;
}

input[type="text"],
input[type="input"],
input[type="file"],
input[type="password"],
textarea,
select,
.field-value-readonly {
	padding: var(--standard-field-padding);
	width: 100%;
	border: 0;
	border-top: 1px solid transparent;
	border-bottom: 1px solid var(--standard-field-border-color);

	&:placeholder-shown:not(:focus) {
		&:not(:hover) {
			border-style: dashed;
		}

		.required &,
		.invalid & {
			border-bottom-color: var(--color-error);
		}
	}

	&:focus {
		border-bottom-color: var(--standard-field-focus-border-color);
		background-color: var(--standard-field-focus-background-color);
	}

	&:hover:not(:focus) {
		border-bottom-color: var(--standard-field-hover-border-color);
	}
}


input[type="text"],
input[type="input"],
input[type="password"],
textarea,
.field-value-readonly {
	&:not(:placeholder-shown):not(:focus):not(:hover) {
		border-color: transparent;
	}
}

/*-----------------------------------------*/
input[type='checkbox'] {
	-webkit-appearance: none;
	appearance: none;
	position: relative;
	cursor: pointer;
	align-self: center;
	vertical-align: middle;

	&:before {
		width: var(--spacing-broader);
		flex-grow: 0;
		flex-shrink: 0;
		height: var(--spacing-thin);
		left: initial;
		border: initial;
		margin-left: auto;
		content: '';
		position: relative;
		display: block;
		border-radius: 20px;
		transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
		transition-duration: var(--duration-short);

		background-color: var(--color-main-light);
		box-shadow: inset 0px 0px 1px 2px rgba(0,0,0,0.08), 0px 0px 0px 2px var(--color-main-lighter);
		margin-top: var(--spacing-thinnest);
		margin-bottom: var(--spacing-thinnest);
	}

	&:after{
		content: '';
		position: absolute;
		top: 3px;
		margin-top: var(--spacing-thinnest);
		margin-left: 1px;
		right: calc(var(--spacing-broader) - var(--spacing-thin) + 3px);
		width: calc(var(--spacing-thin) - 6px);
		height: calc(var(--spacing-thin) - 6px);
		border-radius: 50%;
		background: var(--color-main-lighter);
		transform-origin: center center;
		transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
		transition-duration: var(--duration-short);

		box-sizing: border-box;
	}

	&:hover:before,
	&:focus:before {
		box-shadow: inset 0px 0px 1px 2px rgba(0,0,0,0.1), 0px 0px 0px 2px var(--color-accent);
	}

	&:checked:after {
		transform: translateX(calc(var(--spacing-broader) - 100% - 7px));
	}

	&:checked:before {
		background: var(--color-success);
	}

	&:checked:after {
		background: var(--color-clear);
	}

	&:hover:after,
	&:focus:after {
		background-color: var(--color-accent-alt-light);
		transform: scale(1.5);
		box-shadow: 1px 1px 2px rgba(0,0,0,.4);
	}
	
	&:checked:hover:after,
	&:checked:focus:after {
		transform: translateX(calc(var(--spacing-broader) - 100% - 7px)) scale(1.5);
		box-shadow: -1px 1px 2px rgba(0,0,0,.4);
	}
}

/*-----------------------------------------*/
input[type=file] {
	font-size: var(--text-small);
	height: var(--standard-field-height);
	padding-top: calc(var(--standard-field-height) / 2  - .6em);
}

/*-----------------------------------------*/
select {
	-webkit-appearance: none;

	.disabled {
		display: none;
	}
}

select:not([multiple]) {
	cursor: pointer;
	padding-right: calc(.65em + var(--spacing-thinnest) * 2);
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23172D4D%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
	background-repeat: no-repeat;
	background-position: right .7em top 50%;
	background-size: .65em auto;
}

select[multiple] {
	option, optgroup {
		padding: var(--spacing-pico) var(--standard-inner-rhythm);
		margin-left: calc(-1 * var(--standard-inner-rhythm));
	}

	option {
		color: var(--color-main-light);
		&:checked {
			background: var(--frontframe-background-color) -webkit-linear-gradient(bottom, var(--frontframe-background-color) 0%, var(--frontframe-background-color) 100%);
			&:before {
				content: "▶";
				margin-right: var(--spacing-micro);
				font-size: var(--text-smaller);
				vertical-align: middle;
				position: relative;
				top: -.09125em;
				margin-left: -.125em;
			}
		}
	}

	&:focus {
		option {
			&:checked {
				background: var(--color-main) -webkit-linear-gradient(bottom, var(--color-main) 0%, var(--color-main) 100%);
				&:before {
					color: var(--color-clear);
				}
			}
		}
	}
}

/*-----------------------------------------*/
.invalid {
	color: var(--color-error);
	font-weight: 500;

	&+input,
	&+select,
	&+textarea,
	&+.frame {
		border-bottom-color: var(--color-error);
	}

	label~* {
		font-size: var(--text-smaller);
		background-color: var(--color-clear);
		padding: 0 var(--spacing-nano);
		margin-left: calc(-1 * var(--spacing-nano));
		border-radius: var(--radius-small);
		border-top: 2px solid rgba(255,255,255,.6);
	}
}

/*-----------------------------------------*/
.field-value-readonly {
	display: block;
	color: var(--color-main-light);
	padding-left: 0;
	border: none;
	background: none;
	min-height: 2.2rem;
	opacity: 1;
}

/*-----------------------------------------*/
input:disabled,
textarea:disabled,
textarea:disabled:hover,
textarea:disabled:active,
textarea:disabled:focus,
textarea[readonly=readonly],
textarea[readonly=readonly]:hover,
textarea[readonly=readonly]:active,
textarea[readonly=readonly]:focus,
input[type=submit]:disabled:hover,
input[type=submit]:disabled:active,
input[type=submit]:disabled:focus,
input[readonly=readonly],
input[readonly=readonly]:hover,
input[readonly=readonly]:active,
input[readonly=readonly]:focus {
	opacity: 0.5;
	cursor: not-allowed;
	background-color: var(--color-main-lighter);
	color: var(--color-main);
}

button[disabled],
button:disabled,
button:disabled:hover,
button:disabled:active,
button:disabled:focus {
	opacity: 0.5;
	pointer-events: none;
}

/*-----------------------------------------*/
label,
legend {
	position: relative;
	display: block;
	font-size: var(--standard-label-font-size);

	>i:not(:empty) {
		font-size: var(--text-smaller);
		font-style: normal;
		color: var(--color-main-light);
	}
}

label {
	
	&[for] {
		cursor: pointer;
	}

	>input:first-child,
	>input:first-child~input {
		margin-right: var(--spacing-thinnest);
	}

	span {
		~:not(i) {
			margin-top: var(--spacing-thinnest);
		}
	}
}


/*-----------------------------------------*/
.apply {
	>* {
		max-width: max-content;
		display: inline-block;
	}

	>*:not(:hover) {
		border-color: transparent;
	}

	>*+* {
		margin-left: var(--spacing-thinnest);
	}

	.actions & button {
		float: right;
		margin-left: var(--spacing-thinnest);
	}

	&.inactive {
		cursor: not-allowed;
		opacity: .5;
		
		>* {
			pointer-events: none;
		}
	}
}