/**
 * Symphony Grids and columns
 *
 * @since: Symphony 2.3
 */

@import "variables";

/* Generic grid definition --------*/
.columns {
	display: flex;
	flex-wrap: wrap;
	// margin-left: ~'calc(var(--standard-container-rhythm) * -1)';
	justify-content: space-between;

	legend {
		margin: 0 0 0 ~'calc(var(--spacing-thin) * -1)';
		padding: 0 0.5rem 0 var(--spacing-thin);
	}

	.column {
		// box-sizing: border-box;
		// padding: 0 0 0 var(--standard-container-rhythm);
	}

	&.two .column {
		width: calc(50% - var(--standard-container-rhythm) / 2);

		@media (max-width: (@xs - 1)){
			width: 100%;
		}
	}

	&.three .column {
		width: calc(33.33% - var(--standard-container-rhythm) / 3);
	}

	&.four .column {
		width: calc(25% - var(--standard-container-rhythm) / 4);
	}
}
