/**
 * Symphony Associations
 *
 * Associations are visualisations of associated entries in Symphony's backend.
 * They are hidden in Drawers by default and can be expanded on click.
 *
 * @since Symphony 2.3
 */

/*-----------------------------------------------------------------------------
	LESS — Variables Importing
-----------------------------------------------------------------------------*/

@import "variables";

/*-----------------------------------------------------------------------------
	Vertical drawers
-----------------------------------------------------------------------------*/

.association-title {
	// color: var(--color-accent);
	// padding: var(--spacing-broad) var(--spacing-broad) 0;
}

* + .association-title {
	// margin-top: var(--spacing-broad);
	// border-top: 1px solid var(--color-main-light);
}
[id="drawer-section-associations"] a:not([class]) {
	color: inherit;
}
[id="drawer-section-associations"] .content  {
	// display: flex;
	// flex-wrap: wrap;
	// border-radius: var(--radius-current);
	// padding: var(--standard-inner-rhythm);
	// background-color: var(--color-main-lighter);
	// align-items: flex-start;
}

[id="drawer-section-associations"] .content>h2 {
	// flex: 100% 0 0;
	// writing-mode: vertical-lr;
	// text-orientation: upright;
	// transform: rotateZ(180deg);
	font-size: var(--text-small);
}

[id="drawer-section-associations"] .content>* {
	margin-right: var(--standard-inner-rhythm);
}

[id="drawer-section-associations"] .content>section {
	padding: var(--standard-inner-rhythm);
	background-color: var(--color-clear);
	border-radius: var(--radius-current);
}

.association {

	header {
		display: flex;
		align-items: baseline;
		justify-content: space-between;
	}

	header p {
		flex-grow: 1;
		overflow: hidden;
		text-overflow: ellipsis;
		color: var(--color-main);
		line-height: 20px;
		margin-bottom: 0;
		white-space: nowrap;
	}

	.association-section {
		color: var(--color-main);
		font-weight: 700;
	}

}

.association-links {
	margin: 0;
	padding: var(--spacing-pico) 0 0;

	li {
		display: block;
		box-sizing: border-box;
		white-space: nowrap;

		& + li {
			// border-top: 1px solid var(--color-main-light);
		}
	}

}

.association-more a {
	color: var(--color-main-light);

	&:before {
		content: '\00B7\00B7\00B7' !important;
	}
}
