/**
* Symphony Header
*
* This file contains styles for the master header
*
* @since Symphony 4.0.0
*/

@import "variables";

#header {

	h1 {
		font-size: var(--text-current);
		font-weight: 300;

		a {
			color: var(--color-main-light);
			font-size: var(--text-small);
			line-height: 1.2em;
			font-weight: 500;

			display: flex;
			flex-direction: row;
			align-items: center;
			align-self: start;

			>*+* {
				margin-left: var(--standard-inner-rhythm);
			}

			@media (max-width: @xs) {
				span {
					display: none;
				}
			}
		}
	}
}
