/**
 * Symphony Fields
 *
 * This file contains styles for the widespread field component
 * and its elements (inputs of all sorts, labels and legends, etc.)
 *
 * @since Symphony 4.0.0
 */

@import "variables";

.field {

	/* Layout model - enclosed fields, piling without margins --------*/
	>* {
		display: block;
	}

	--standard-field-border-color: transparent;

	border: 1px solid var(--color-ui);
	margin-bottom: -1px;

	&:first-of-type {
		&, input:not([type=checkbox]), select, textarea {
			border-top-left-radius: var(--radius-current);
			border-top-right-radius: var(--radius-current);
		}
	}

	&:last-of-type {
		&, input:not([type=checkbox]), select, textarea {
			border-bottom-left-radius: var(--radius-current);
			border-bottom-right-radius: var(--radius-current);
			border-bottom-color: var(--color-ui);
		}

		input:not([type=checkbox]), select, textarea {
			margin-bottom: -1px;
		}
	}
	
	>*:first-child {
		margin-left: var(--standard-inner-rhythm);

		&+*~* {
			margin-left: var(--standard-inner-rhythm);
			margin-bottom: var(--standard-inner-rhythm);
		}
	}

	&:not(.field-checkbox)>*:first-child {
		top: var(--standard-inner-rhythm);
		height: 0;

		&+input:not([type=checkbox]), 
		&+select, 
		&+textarea,
		&+* input:not([type=checkbox]),
		&+* select,
		&+* textarea {
			margin-top: 0;
			padding-top: calc(var(--standard-inner-rhythm) + 1.5em);
		}
	}

/* Interactive styles --------*/
	&:not(:hover) { 
		color: var(--standard-field-color);

		label {
			color: var(--standard-label-color);

			&:before, &:after {
				opacity: .4;
			}

			>i {
				opacity: 0;
			}
		}
	}

	&:hover {
		color: var(--standard-field-hover-color);

		input:not([type=checkbox]):not(:focus), select:not(:focus), textarea:not(:focus) {
			border-bottom-color: var(--standard-field-hover-border-color);
			color: var(--standard-field-hover-color);
		}
	}

/* Special case for uploaded file input --------*/
	label+span {
		display: flex;
		align-items: center;
		padding-top: 0;

		a, input {
			flex-grow: 1;

			~* {
				margin: 0 var(--standard-inner-rhythm);
			}
		}

		input[type=file] {
			padding-top: calc(var(--standard-inner-rhythm) + 1.5em);
		}

		button {
			&:not(:hover) {
				opacity: .25;
			}
		}

		[type="hidden"]~a {
			display: block;
			color: inherit;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			flex-shrink: 1;
			flex-basis: 0;
			padding-top: calc(var(--standard-inner-rhythm) + 1.5em);
			padding-bottom: var(--standard-inner-rhythm);
		}

		[type="hidden"]~a:hover {
			color: var(--standard-field-hover-color);
		}
	}

	&.field-checkbox,
	&.field-upload {
		align-items: center;
	}

	&.field-date {
		position: relative;
	}

	&.field-date .suggestions,
	.tags {
		max-width: initial;
		flex: 100% 0 0;
	}

	/* Position error message --------*/
	.invalid label~* {
		position: absolute;
		bottom: -1em;
		min-width: max-content;
		z-index: 1;
	}
}