/**
 * Symphony Suggestions
 */

/*-----------------------------------------------------------------------------
	LESS — Variables Importing
-----------------------------------------------------------------------------*/

@import "variables";

/*-----------------------------------------------------------------------------
	Suggestions
-----------------------------------------------------------------------------*/

.frame.suggests,
.suggests {
	overflow: visible;
}

.suggestions {
	.transitioned(~'opacity, max-height');
	border-radius: var(--radius-small);
	box-sizing: border-box;
	overflow: hidden;
	position: absolute;
	margin: var(--spacing-micro) 0 0;
	background: var(--color-main-lightest);
	box-shadow: var(--shadow);
	// width: calc(~'100% - var(--spacing-broad)');
	// max-height: 0;
	// min-height: 3.6rem;
	// z-index: -1;
	opacity: 0;

	.help {
		display: none;

		&.active {
			display: block;
			color: var(--color-main-dark);
			border-bottom: none;
			background-color: var(--color-main-lightest);
			cursor: default;
		}
	}

	.active {
		color: var(--color-main);
		background-color: var(--color-accent-alt-light);
		cursor: pointer;
	}
}

.frame .content .suggestions .help {
	margin-top: 0;
}

/*-----------------------------------------------------------------------------
	Special Cases
-----------------------------------------------------------------------------*/

input:not(:focus) ~ .suggestions:not(:empty),
textarea:not(:focus) ~ .suggestions:not(:empty) {
	&, & * {
		display: none;
	}
}

input:focus ~ .suggestions:not(:empty),
textarea:focus ~ .suggestions:not(:empty) {
	max-height: auto;
	transition: opacity 0s ease-out var(--duration-shortest), max-height 0s ease-out 0s;
	opacity: 1;
	overflow: visible;
	z-index: 10000;
}
