/**
 * Errors are used in different areas of the system to show erroneous states
 *
 * @since: Symphony 4.0.0
 */

/* Make sure grid won't affect --------*/
body[id="error"] {
	display: block;
	padding: var(--standard-outer-rhythm);

	[id="controls"] {
		padding: 0;
	}
}

.frame.error {
	.error>code {
		color: var(--color-error);
	}

	h1 {
		padding-left: var(--standard-outer-rhythm);
		padding-right: var(--standard-outer-rhythm);
		margin-bottom: var(--standard-outer-rhythm);

		+p {
			color: var(--color-main-light);
			margin-left: var(--standard-outer-rhythm);
			margin-bottom: var(--standard-outer-rhythm);
		}
	}

	.content, ul {
		padding: var(--standard-inner-rhythm);
		margin: var(--standard-inner-rhythm);
		border-radius: var(--radius-current);
		background-color: var(--frontframe-background-color);

		/* Try to keep processor function and message on same line --------*/
		@media (min-width: @md) {

			code {
				vertical-align: bottom;
			}
			
			/* Processor function implied through em tag --------*/
			em {
				color: var(--color-main-light);
				font-style: normal;
				float: left;
				clear: left;
			}

			strong, em {
				margin-right: var(--spacing-micro);
			}

			/* Push right debug view link to enhance lisibilty --------*/
			a {
				font-size: var(--text-smaller);
				line-height: 1.2em;
				float: right;
			}
		}
	}
}