/**
 * Symphony Notifications
 *
 * @since Symphony 2.3
 */

/*-----------------------------------------------------------------------------
	LESS — Variables Importing
-----------------------------------------------------------------------------*/

@import "variables";

/*-----------------------------------------------------------------------------
	Notifier
-----------------------------------------------------------------------------*/

.notifier {
	position: fixed;
	bottom: var(--spacing-thin);
	left: auto;
	right: var(--spacing-broadest);
	color: var(--color-main-dark);
	font-size: var(--text-small);
	z-index: 110;
	pointer-events: none;

	@media (max-width: (@sm - 1)) {
		left: 0;
		right: 0;
	}

	nav {
		top: 0;
		display: inline;
		cursor: pointer;

		&:before {
			content: '\2193';
			padding-right: 0.3rem;
		}
	}
}

/*-----------------------------------------------------------------------------
	Message types
-----------------------------------------------------------------------------*/

.notice {
	position: relative;
	color: var(--color-accent-alt-dark);
	font-size: var(--text-small);
	margin: 0;
	padding: var(--spacing-thinnest) var(--spacing-thinner);
	background: var(--color-accent-alt-light);
	border: 1px solid var(--color-accent-alt);
	pointer-events: all;
	line-height: 1.4em;
	border-radius: var(--radius-current);
	box-shadow: var(--shadow-up);
	max-width: var(--dimension-tiny);

	a {
		color: currentColor;
		margin: 0 0.3rem;
		border-bottom: 1px solid currentColor;

		&:hover {
			border-color: transparent;
		}
	}

	&:last-child nav:before {
		content: '\2191';
	}

	&.success {
		background: var(--color-success-light);
		border: 1px solid var(--color-success);
		color: var(--color-success-dark);
	}

	&.error {
		background: var(--color-error-light);
		border: 1px solid var(--color-error);
		color: var(--color-error-dark);
	}

	&.dimmed {
		transition-duration: var(--duration-shorter);
		opacity: 0;
		pointer-events: none;
	}
	
	&:not(.active) {
		display: none;
	}
}
