/**
 * Symphony Tables
 */

/* Less variables --------*/
@import "variables";

/* Table basic typographic styles --------*/
table {
	font-size: var(--text-smaller);
	line-height: 1.2em;
	font-weight: 400;
	text-align: left;

	td, th {
		white-space: nowrap;
	}

	th {
		font-weight: inherit;
	}
}

/* Directory table graphical styles --------*/
table[role="directory"] {
	background-color: var(--standard-table-background-color);
	padding: var(--standard-inner-rhythm);
	border-spacing: 0 2px;
	border-radius: var(--radius-current);

	td, th {
		padding: var(--standard-inner-rhythm) var(--standard-container-rhythm);
		&:first-child {
			padding-right: calc(var(--standard-container-rhythm) * 2);
		}
	}

	/* Table headers --------*/
	th {
		color: var(--color-main-light);

		/* Sortable column headers --------*/
		a {
			color: inherit;

			/* Interactive styles --------*/
			&:hover {
				color: var(--color-accent);
				&:not(.active) {
					background-color: var(--color-accent-light);
				}
			}
			
			/* Activated ordering styles --------*/
			&.active {
				background-color: var(--color-accent-alt-light);
				color: var(--color-main-dark);
			}

			/* Generate arrows --------*/
			&:after {
				margin-left: var(--spacing-nano);
				font-size: var(--text-smallest);
			}

			&[href*="order=desc"]:after,
			&.active[href*="order=asc"]:after,
			&.active[href*="order=desc"]:hover:after {
				content: '\2193'; /* down arrow */
			}

			&[href*="order=asc"]:after,
			&.active[href*="order=desc"]:after,
			&.active[href*="order=asc"]:hover:after {
				content: '\2191'; /* up arrow */
			}
		}
	}

	/* Table cells --------*/
	td {
		border-top: 1px solid transparent;
		border-bottom: 1px solid transparent;
		
		/* Make entry titles bigger --------*/
		&:first-child {
			font-size: var(--text-big);
			font-weight: 760;
		}
		
		/* Limit image dimensions --------*/
		img {
			max-width: var(--spacing-broadest);
			max-height: var(--spacing-broader);
		}

		/* Link graphical styles --------*/
		a {
			color: var(--color-main-dark);

			&:hover {
				color: var(--color-accent);
			}
		}
	}
}

/* Directory table / contained and scrollable layout model  --------*/
table[role="directory"] {
	/* Make the table scrollable and enable stickiness --------*/
	display: block;
	overflow: auto;
	max-height: calc(100vh - var(--dimension-tiniest));
	position: relative;

	/* Facilitate interactive states styling of sticky elements --------*/
	thead, tbody, tr, th, td {
		background-color: inherit;
	}

	/* Outer rhythm --------*/
	margin: var(--standard-inner-rhythm);

	/* Scrollbars standard styling --------*/
	&::-webkit-scrollbar {
		background-color: var(--scrollbar-background-color);
		height: var(--scrollbar-height);
		width: var(--scrollbar-width);
	}

	&:hover::-webkit-scrollbar {
		&-thumb {
			background-color: var(--scrollbar-thumb-background-color);
			border-radius: var(--scrollbar-thumb-border-radius);
		}
	}

	@media (min-width: @xs) {
		td, th {
			&:first-child {
				/* Make titles and related column header stick to the table's edges --------*/
				position: sticky;
				left: calc(-1 * var(--standard-inner-rhythm) - var(--radius-current));
				padding-left: calc(var(--standard-inner-rhythm) + var(--radius-current));
			}
		}

		td {
			&:first-child {
				/* Mask content under titles with gradual fade --------*/
				background: linear-gradient(to right, var(--standard-table-background-color) 80%, transparent 100%);
				background-size: 100% 1.3em;
				background-position: center center;
				background-repeat: no-repeat;
			}
		}
	}

/* Make headers stick to table top for large sets of entries --------*/
	th {
		top: calc(-1 * var(--standard-inner-rhythm));
		position: sticky;
		z-index: 1;
		
		/* Make sure the first header goes hover the sticky titles --------*/
		&:first-child {
			z-index: 2;
		}
	}

}

/* Table with selectable rows --------*/
table.selectable {
	/* Mask the selection checkbox; 
		javascript applies functionality to whole row --------*/
	input {
		display: none;
	}

	/* Special cursors --------*/
	td:not(.inactive) {
		cursor: copy;
	}

	&.orderable td:not(.inactive) {
		cursor: -webkit-grab;
	}

	tr.ordering td:not(.inactive) {
		cursor: -webkit-grabbing;
	}

	/* Entries rows --------*/
	tbody {
		tr {

			/* Rounded graphical style --------*/
			td:first-child {
				border-left: 1px solid transparent;
				border-top-left-radius: var(--radius-current);
				border-bottom-left-radius: var(--radius-current);
			}

			td:last-child {
				border-right: 1px solid transparent;
				border-top-right-radius: var(--radius-current);
				border-bottom-right-radius: var(--radius-current);
			}

			/* Interaction styles --------*/
			&:hover:not(.selected):not(.ordering) {
				background-color: var(--standard-hover-row-background-color);
				td {
					z-index: 2;

					border-color: var(--color-ui);

					&:first-child {
						background: linear-gradient(to right, var(--standard-hover-row-background-color) 80%, transparent 100%);
					}
				}
			}

			/* Separate non-hovered entries by straight border --------*/
			&:not(:hover):not(.selected)+*:not(:hover):not(.selected) td {
				border-radius: 0;
				border-top-color: var(--color-ui);
			}

			/* Hovering row graphical styles --------*/
			&.selected, &.ordering {
				background-color: var(--standard-selected-row-background-color);
				border-color: var(--color-ui);
				filter: drop-shadow(var(--shadow-small));
				z-index: 1;

				td {
					&:first-child {
						background: linear-gradient(to right, var(--standard-selected-row-background-color) 80%, transparent 100%);
					}
				}
			}
		}
	}
}

/* Row states graphical styles --------*/
tr {
	&.status-ok:not(.selected) {
		color: var(--color-accent);
	}

	&.status-notice:not(.selected) {
		color: var(--color-accent-alt);
	}

	&.status-error:not(.selected) {
		color: var(--color-error);
	}

	&.inactive:not(.selected) {
		pointer-events: none;
		opacity: 0.5;
		color: var(--color-main-light);
	}
}