/**
* Symphony Breadcrumbs
*
* This file contains styles for the breadcrumbs
*
* @since Symphony 4.0.0
*/

@import "variables";

[id="breadcrumbs"] {
	display: flex;
	align-items: center;
	flex-grow: 1;
	max-width: 100%;

	nav {
		flex-shrink: 0;
		flex-grow: 0;
		box-sizing: border-box;
		
		p {
			display: contents;

			a {

				color: var(--color-main-light);
				font-size: var(--text-small);
				display: block;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				max-width: 100%;

				margin-left: var(--spacing-thinnest);

				&:first-of-type {
					margin-left: 0;
				}

				svg {
					margin-right: var(--standard-inner-rhythm);
					flex-shrink: 0;
				}

				&:hover {
					color: var(--color-accent);
				}
			}

			.sep {
				display: none;
			}
		}
	}


	h2 {
		font-size: var(--text-big);
		font-weight: 760;
		padding-left: var(--standard-inner-rhythm);
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 100%;

		@media (min-width: @sm) {
			font-size: var(--text-bigger);
		}

		img {
			display: none;
		}
	}

	p.inactive {
		display: inline-block;
		margin: 0;
		margin-left: var(--spacing-thinnest);

		span {
			color: var(--color-accent);
			font-size: var(--text-current);
		}
	}
}