/**
 * Symphony Tables
 */

/*-----------------------------------------------------------------------------
	LESS — Variables Importing
-----------------------------------------------------------------------------*/

@import "variables";

/*-----------------------------------------------------------------------------
	Tables
-----------------------------------------------------------------------------*/

table {
	display: block;
	width: auto;
	background-color: var(--color-main-lightest);
	border-radius: var(--radius-big);
	margin: var(--standard-container-rhythm);

	thead, tbody, th, tr {
		display: block;
		width: 100%;
	}

	tr {
		display: flex;
		align-items: center;
		width: 100%;
		box-sizing: border-box;
		// padding: 0 var(--standard-inner-rhythm);
	}

	th {
		display: flex;
		width: 100%;
		align-self: flex-end;
		// overflow: hidden;
		// text-overflow: ellipsis;
		// white-space: nowrap;
		padding: var(--spacing-micro) var(--spacing-thinnest);
		box-sizing: border-box;
		text-align: left;
		font-weight: 400;
		font-size: var(--text-smaller);
		line-height: 1.2em;
		max-height: 4.2rem;
		
		&:after {
			content: "";
			display: block;
			position: relative;
			
		}
	}

	td, th {
		flex: 0px 1 1;

		&:first-child {
			flex: 15% 1 1;
			max-width: var(--dimension-tiniest);
		}
	}

	thead {
		// box-shadow: var(--shadow-small);
		padding: var(--standard-inner-rhythm);
		background-color: var(--color-main-lightest);
		box-sizing: border-box;
		border-top-left-radius: var(--radius-big);
		border-top-right-radius: var(--radius-big);

		// position: sticky;
		// top: var(--spacing-broadest);
		z-index: 1;
		color: var(--color-main-light);

		a:after {
			margin-left: var(--spacing-micro);
			font-size: var(--text-smallest);
			content: '';
		}

		a {
			color: inherit;
		}

		a[href*="order=desc"]:after,
		a.active[href*="order=asc"]:after,
		a.active[href*="order=desc"]:hover:after {
			content: '\2193'; /* down arrow */
		}

		a[href*="order=asc"]:after,
		a.active[href*="order=desc"]:after,
		a.active[href*="order=asc"]:hover:after {
			content: '\2191'; /* up arrow */
		}

		@media (max-width: (@sm - 1)) {
			display: none;
		}
	}

	tbody {
		padding: var(--standard-inner-rhythm);
		padding-top: 0;
		box-sizing: border-box;
		// width: auto;

		tr {
			margin: var(--spacing-pico) 0;
			cursor: copy;
			// box-shadow: var(--shadow);
			border-radius: var(--radius-current);
			overflow: hidden;
			border: 1px solid transparent;

			&:hover:not(.selected) {
				z-index: 2;
				// box-shadow: var(--shadow-small);
				background-color: var(--color-clear);
				border-color: var(--color-ui);
			}

			&:not(:hover):not(.selected)+*:not(:hover):not(.selected) {
				border-radius: 0;
				border-top-color: var(--color-ui);
			}

			@media (max-width: (@sm - 1)) {
				margin: var(--spacing-thinnest) var(--spacing-pico);
			}


		}

		td {
			color: var(--color-main);
			font-size: var(--text-current);
			padding: var(--standard-inner-rhythm);
			box-sizing: border-box;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;

			&.inactive {
				color: var(--color-main-light);
			}

			&:not(:first-child) {
				// background-color: var(--color-accent-light);
				font-size: var(--text-smaller);
			}

			img {
				max-width: var(--spacing-broadest) !important;
				max-height: var(--spacing-broader) !important;
				border-radius: var(--radius-smallest);
			}

			a {
				color: var(--color-main-dark);
				overflow: hidden;

				&:hover {
					color: var(--color-accent);
				}

				#publish & {
					display: flex !important;
					align-items: center !important;
				}
			}

			@media (max-width: (@sm - 1)) {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
				position: relative;

				&::before {
					content: attr(data-title);
					font-weight: 500;
					margin-right: var(--spacing-thinnest);
					color: var(--color-main-dark);
				}

				br {
					display: none;
				}
			}

		}
	}

	//  Hide content when on small screen
	@media (max-width: (@sm - 1)) {
		td:first-of-type {
			margin-right: var(--spacing-thin);
		}

		td:nth-child(n + 3) {
			display: none;
		}
	}

	//  Hide content when on small screen
	@media (min-width: @sm) and (max-width: (@xl - 1)) {
		td:nth-child(n + 6),
		th:nth-child(n + 6) {
			display: none;
		}
	}

	@media (min-width: @xl) and (max-width: (@xxl - 1)) {
		td:nth-child(n + 8),
		th:nth-child(n + 8) {
			display: none;
		}
	}
}

/*-----------------------------------------------------------------------------
	Selectable rows
-----------------------------------------------------------------------------*/

table.selectable input {
	display: none;
}

@media (min-width: @sm) {
	tr.selected {
		background-color: var(--color-accent-alt-light);
		border-color: var(--color-ui);
		box-shadow: var(--shadow-small);
		z-index: 1;

		td {
			// color: var(--color-main-light);

			
			a {
				color: var(--color-main-light);
				&:hover {
					color: var(--color-main-light);
				}
			}
		
			&.inactive {
				color: var(--color-main-light);
			}
		}
	
	}
}

/*-----------------------------------------------------------------------------
	Orderable rows
-----------------------------------------------------------------------------*/

tr.ordering {
	cursor: move;
}

tr.ordering {
	background-color: var(--color-accent-alt-light);
}

/*-----------------------------------------------------------------------------
	Status
-----------------------------------------------------------------------------*/

tr.status-ok:not(.selected) {
	color: var(--color-accent);
}

tr.status-notice:not(.selected) {
	color: var(--color-accent-alt);
}

tr.status-error:not(.selected) {
	color: var(--color-error);
}

tr.inactive:not(.selected) {
	opacity: 0.5;
}
