/**
* Symphony Header
*
* This file contains styles for the master header
*
* @since Symphony 4.0.0
*/

/*-----------------------------------------------------------------------------
	LESS — Variables Importing
-----------------------------------------------------------------------------*/

@import "variables";

/*--------------------------------------------------------------------------
	Controls
--------------------------------------------------------------------------*/

#header {

	h1 {
		font-size: var(--text-current);
		font-weight: 300;

		a {
			color: var(--color-main-light);
			font-size: var(--text-current);
			line-height: 1.2em;
		}
	}

	// &:not(.opened) {
	// 	@media (max-width: (@sm - 1)){
	// 		transform: translateX(-100%);
	// 	}
	// }
}
