 /**
 * Symphony Filtering
 */

/*-----------------------------------------------------------------------------
	LESS — Variables Importing
-----------------------------------------------------------------------------*/

@import "variables";

/*-----------------------------------------------------------------------------
	Filtering
-----------------------------------------------------------------------------*/

.filtering .frame {
	display: flex;
	align-items: baseline;
	font-size: var(--text-small);
	color: var(--color-main-light);
	flex-wrap: wrap;

	@media (max-width: @xxs) {
		margin-left: calc(-1 * var(--standard-container-rhythm));
		margin-right: calc(-1 * var(--standard-container-rhythm));
	}

	.frame-header {
		display: contents;
	}

	ol {
		flex-grow: 1;

		@media (max-width: @md) {
			margin-top: var(--standard-inner-rhythm);
			order: 4;
			flex-basis: 100%;
			flex-shrink: 0;
		}
	}

	&.collapsible > * > li,
	&.constructable > * > li {
		margin-left: 0;

		.content {
			flex-grow: 1;
			margin-left: var(--standard-inner-rhythm);
		}
	}

	.columns.two {
		margin: 0;

		.column {
			padding: 0;
			width: 50%;
		}
	}

	label > * {
		margin-top: 0;
	}

	.instance {
		overflow: visible;
		padding: 0 var(--standard-inner-rhythm);

		display: flex;
		align-items: baseline;
		box-sizing: border-box;


		input, select {
			border-color: transparent;
			font-size: var(--text-small);
		}
	}

	&.duplicator {
		margin-bottom: 0;
	}

	.destructor {
		order: 2;
		margin-left: var(--standard-inner-rhythm);
		font-size: var(--text-small);
	}

	.clear-filters {
		order: 3;
		margin-left: var(--spacing-thinnest);
		cursor: pointer;
	}

	.apply-filters {
		order: 2;
		margin-left: var(--spacing-thinnest);
		cursor: pointer;
	}

	.apply {
		margin-left: var(--standard-inner-rhythm);
		flex-shrink: 0;
	}

	.calendar {
		padding: var(--spacing-thinner);
	}

	&.empty {
		ol::before {
			content: attr(data-empty);
			display: block;
			color: var(--color-main-dark);
			font-size: var(--text-smaller);
		}
	}
}
