/**
* Symphony Loading
*
* This file contains the loading veil container and its states.
* It is deactivated as of this version for faster content accessibility.
* Please be careful of wasteful development incitatives that might be triggered
* by activating the veil. To be used as emergency exit only.
*
* @since Symphony 4.0.0
*/

[id="loading"] {
	display: block;
	grid-area: primary;
	width: 100%;
	height: 100%;
	background-color: var(--frontframe-background-color);
	z-index: 200;
	opacity: 0; /* DEACTIVATED ! --------*/
}

html:not(.js-active) [id="loading"] {
	pointer-events: none;
}

#loading.hidden {
	transition: opacity 100ms ease-out 100ms;
	opacity: 0;
	pointer-events: none;
}