/**
 * Symphony Forms
 *
 * This file contains unified styles for inputs, text areas, multiple selects
 * and buttons that are shared across the system. It does not contain general
 * label and fieldset definitions that differ in the different areas of Symphony.
 *
 * @since Symphony 2.3
 */

/*-----------------------------------------------------------------------------
	LESS — Variables Importing
-----------------------------------------------------------------------------*/

@import "variables";

/*--------------------------------------------------------------------------
	Basic Inputs Textareas and Selects
--------------------------------------------------------------------------*/

input,
button,
textarea,
select {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	outline: none;
	transition-property: background-color, color, border-width, border-color;
	transition-duration: var(--duration-shorter);
	transition-timing-function: var(--ease-current);
}

input, textarea, select {
	font-size: var(--text-current);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px rgba(255,255,0,.6) inset;
    transition: background-color 5000s ease-in-out 0s;
}

input[type="text"],
input[type="input"],
input[type="file"],
input[type="password"],
textarea,
select,
.field-value-readonly {
	box-sizing: border-box;
	border-radius: var(--radius-current);
	color: var(--color-main);
	line-height: 1em;
	padding: var(--spacing-thinnest);
	min-height: var(--spacing-broader);
	width: 100%;
	border: 1px solid var(--color-main-light);
	font-weight: 500;

	&:placeholder-shown:not(:focus) {
		background-color: var(--color-main-lighter);

		.required & {
			background-color: var(--color-error-light);
		}
	}

	&:focus {
		background-color: var(--color-accent-alt-light);
	}
}

input[type="text"],
input[type="input"],
input[type="password"],
textarea,
select,
.field-value-readonly {
	background-color: var(--color-clear);
}

 
input[type="text"]:active,
input[type="text"]:focus,
input[type="input"]:active,
input[type="input"]:focus,
input[type="password"]:active,
input[type="password"]:focus,
input[type="file"]:active,
input[type="file"]:focus,
textarea:active,
textarea:focus,
select:active,
select:focus {
	border-color: var(--color-accent);
	color: var(--color-main);
	outline: none;
	box-shadow: 0px 0px 0px 1px var(--color-accent), var(--shadow);
}

input[readonly="readonly"],
textarea[readonly="readonly"] {
	border-color: var(--color-main-light)!important;
}

textarea {
	line-height: 1.6em;
	resize: vertical;
}

input[type='checkbox'] {
	-webkit-appearance: none;
	appearance: none;
	position: relative;
	cursor: pointer;
	align-self: center;
	border-top-left-radius: var(--radius-current);
	border-bottom-left-radius: var(--radius-current);
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;

	&:hover {
		background-color: var(--color-main-lighter);
	}

	&:before {
		width: var(--spacing-broader);
		flex-grow: 0;
		flex-shrink: 0;
		height: var(--spacing-thin);
		left: initial;
		border: initial;
		margin-left: auto;
		content: '';
		position: relative;
		display: block;
		border-radius: 20px;
		transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
		transition-duration: var(--duration-short);
		transition-property: background-color;
		background-color: var(--color-main-light);
		box-shadow: inset 0px 0px 1px 2px rgba(0,0,0,0.18), 0px 0px 0px 2px var(--color-main-lighter);
	}

	&:after{
		content: '';
		position: absolute;
		top: 3px;
		margin-left: 1px;
		right: ~'calc(var(--spacing-broader) - var(--spacing-thin) + 3px)';
		width: ~'calc(var(--spacing-thin) - 6px)';
		height: ~'calc(var(--spacing-thin) - 6px)';
		border-radius: 50%;
		background: var(--color-main-lighter);
		transform-origin: center center;
		transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
		transition-duration: var(--duration-short);
		transition-property: transform, background-color;
		box-sizing: border-box;
	}

	&:hover:before,
	&:focus:before {
		box-shadow: inset 0px 0px 1px 2px rgba(0,0,0,0.1), 0px 0px 0px 2px var(--color-accent);
	}

	&:checked:after {
		transform: translateX(~'calc(var(--spacing-broader) - 100% - 7px)');
	}

	&:checked:before {
		background: var(--color-success);
	}

	&:checked:after {
		background: var(--color-success-light);
	}

	&:hover:after,
	&:focus:after {
		background-color: var(--color-clear);
		transform: scale(1.12);
	}
	
	&:checked:hover:after,
	&:checked:focus:after {
		transform: translateX(~'calc(var(--spacing-broader) - 100% - 7px)') scale(1.12);
	}
}

input[type=file] {
	background-color: var(--color-main-lighter);
	font-size: var(--text-smaller);
}

select {
	-webkit-appearance: none;
	-webkit-border-radius: var(--radius-current);
	background: var(--color-main-lighter);
	color: var(--color-main-dark);
	font-weight: 450;

	.disabled {
		display: none;
	}

	&:not([multiple]) {
		cursor: pointer;
		padding-top: 0;
		padding-bottom: 0;
		background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23172D4D%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
		background-repeat: no-repeat;
		background-position: right .7em top 50%;
		background-size: .65em auto;
	}

	&[multiple] {
		display: block;
		padding-left: 0;
		padding-right: 0;
		-webkit-appearance: none;
		min-height: min-content;

		option {
			padding: var(--spacing-pico) var(--spacing-thinnest);

			&:checked {
				background: var(--color-clear) -webkit-linear-gradient(bottom, var(--color-clear) 0%, var(--color-clear) 100%);
			}
		}

		&:focus {
			option {
				&:checked {
					background: var(--color-main) -webkit-linear-gradient(bottom, var(--color-main) 0%, var(--color-main) 100%);
				}
			}
		}
	}
}

/*--------------------------------------------------------------------------
	Input States
--------------------------------------------------------------------------*/

.invalid {
	color: var(--color-error);
	font-weight: 500;

	&+input,
	&+select,
	&+textarea,
	&+.frame {
		border-color: var(--color-error);
	}

	label~* {
		font-size: var(--text-small);
	}
}

.field-value-readonly {
	display: block;
	color: var(--color-main-light);
	padding-left: 0;
	border: none;
	background: none;
	min-height: 2.2rem;
	opacity: 1;
}

input:disabled,
textarea:disabled,
textarea:disabled:hover,
textarea:disabled:active,
textarea:disabled:focus,
textarea[readonly=readonly],
textarea[readonly=readonly]:hover,
textarea[readonly=readonly]:active,
textarea[readonly=readonly]:focus,
input[type=submit]:disabled:hover,
input[type=submit]:disabled:active,
input[type=submit]:disabled:focus,
input[readonly=readonly],
input[readonly=readonly]:hover,
input[readonly=readonly]:active,
input[readonly=readonly]:focus {
	opacity: 0.5;
	cursor: not-allowed!important;
	background-color: var(--color-main-lighter);
	color: var(--color-main);
}

button[disabled],
button:disabled,
button:disabled:hover,
button:disabled:active,
button:disabled:focus {
	opacity: 0.5;
	pointer-events: none;
}

/*--------------------------------------------------------------------------
	Buttons
--------------------------------------------------------------------------*/

input[type=button],
input[type=submit],
button,
.button {
	cursor: pointer;
	background-color: var(--color-main);
	border: 0;
	padding: var(--spacing-thinnest) var(--spacing-thinner);
	line-height: 1em;
	border-radius: var(--radius-current);
	font-weight: 500;
	color: var(--color-clear);
	font-size: var(--text-small);

	&:hover {
		background-color: var(--color-accent);
	}
}


/*--------------------------------------------------------------------------
	Labels and Legends
--------------------------------------------------------------------------*/

label,
legend {
	position: relative;
	display: block;
	color: inherit;
	font-weight: 450;
}

label[for] {
	cursor: pointer;
}


label > i:not(:empty),
legend i:not(:empty) {
	display: block;
	font-size: var(--text-smaller);
	font-style: normal;
	opacity: 0;
	height: 0;
	line-height: 0;
	top: var(--spacing-micro);
	position: relative;

	.field:hover & {
		opacity: 1;
	}
}

legend {
	color: var(--color-main-dark);
	font-size: var(--text-small);
}


/*--------------------------------------------------------------------------
	Apply
--------------------------------------------------------------------------*/

.apply {
	display: block;
	margin: var(--spacing-thinnest) 0 0;
	padding: 0;
	float: right;

	@media (max-width: (@sm - 1)) {
		float: none;
		width: 100%;
	}

	select {
		max-width: 35rem;

		@media (max-width: (@sm - 1)) {
			max-width: none;
		}
	}

	div {
		box-sizing: border-box;
		float: left;
		text-align: left;
		margin-right:var(--spacing-micro);

		@media (max-width: (@sm - 1)) {
			float: none;
			margin-right: 0;
		}
	}

	label {
		margin-bottom: 0!important;
	}

	button,
	.apply-button-right,
	.apply-button-left,
	.apply-label-right,
	.apply-label-left {
		.transitioned(~'border,background');
		border-radius: var(--radius-current);
		float: right;
		color: var(--color-clear);
		font-size: var(--text-smaller);
		text-transform: uppercase;
		line-height: 1.6rem;
		margin: 0;
		padding: var(--spacing-thinnest) var(--spacing-thinner);
		background: var(--color-accent);

		@media (max-width: (@sm - 1)) {
			margin-top: var(--spacing-thinnest);
		}
	}

	button,
	.apply-button-right,
	.apply-button-left {
		cursor: pointer;

		&:hover {
			border-color: var(--color-main-light);
			background: var(--color-main-light);
		}
	}

	.apply-button-left,
	.apply-label-left {
		float: left;
	}

	.apply-label-left + div {
		margin-left: var(--spacing-micro);
		margin-right: 0;
	}

	&.inactive {
		pointer-events: none;

		button,
		button:hover,
		&:hover button {
			color: var(--color-main-dark);
			border-color: var(--color-main);
			background: var(--color-main);
			cursor: default;
		}
	}
}

/*--------------------------------------------------------------------------
	Required
--------------------------------------------------------------------------*/

// .field.required .invalid > label:before,
// .field.required .invalid .container > label:before,
// .field.required > label:before,
// .field.required .container > label:before {
// 	content: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNCIgaGVpZ2h0PSI0IiB2aWV3Qm94PSIwIDAgNCA0IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8Y2lyY2xlIGN4PSIyIiBjeT0iMiIgcj0iMiIgZmlsbD0iI0ZENTM1MyIvPgo8L3N2Zz4K');
// 	position: absolute;
// 	top: -0.2rem;
// 	left: -1.1rem;
// }

/*--------------------------------------------------------------------------
	Tags
--------------------------------------------------------------------------*/

ul.tags {
	color: var(--color-main-light);
	font-size: var(--text-small);
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	list-style: none;

	.column > & {
		margin: var(--spacing-micro);
		margin-bottom: 0;
	}

	* > {
		user-select: none;
	}

	li,
	li:first-of-type,
	li:last-of-type {
		display: inline;
		float: none;
		font-size: var(--text-small);
		padding: 0 var(--spacing-micro) 0 0;
		border: none;
		cursor: pointer;
	}

	li:hover {
		color: var(--color-accent);
	}

	li.more {
		color: var(--color-accent);
		border-bottom: 1px solid currentColor;

		&:hover {
			color: var(--color-main-light);
			border-bottom-color: currentColor;
		}
	}
}

/*--------------------------------------------------------------------------
	Password
--------------------------------------------------------------------------*/

#password {
	display: block;

	legend {
		margin-left: var(--spacing-broad)!important;
		padding: 0!important;
	}

	.column {
		float: left;
	}

	&:after {
		content: "";
		display: block;
		clear: both;
	}
}

div.password {
	display: none;
}

/*--------------------------------------------------------------------------
	Fields and Fieldset
--------------------------------------------------------------------------*/

.field {
	box-sizing: border-box;
	display: flex;
	align-items: baseline;
	flex-wrap: wrap;
	color: var(--color-main);
	--multiplier: ~'calc(var(--dimension-tinier) - 100%)';

	&.field-multilingual div.container label {
		margin-bottom: var(--spacing-thinnest);
	}

	&>*:first-child {
		max-width: 30%;
		flex-basis: 15%;
		flex-grow: 1;
		flex-shrink: 5;
		margin-right: auto;
		order: 0;
	}

	&>*+* {
		max-width: var(--dimension-smallest);
		flex-basis: ~'calc(var(--multiplier) * 999)';
		flex-grow: 5;
		flex-shrink: 1;
		order: 1;
	}

	&:before {
		content: "";
		display: block;
		flex: 100% 0 0;
		order: 2;
	}

	&:after {
		content: "";
		display: block;
		order: 2;
		max-width: 30%;
		flex-basis: 15%;
		flex-grow: 1;
		flex-shrink: 5;
		margin-right: auto;
	}

	&>*+*~* {
		order: 3;
		max-width: var(--dimension-smallest);
		margin-left: auto;
	}

	[type="hidden"]~* a {
		background-color: var(--color-clear);
		padding: var(--spacing-thinnest);
		display: block;
		line-height: 1em;
		min-height: var(--spacing-broader);
		box-sizing: border-box;
		color: var(--color-main);
		border: 1px solid var(--color-main-light);
	}

	[type="hidden"]~* a:hover {
		color: var(--color-accent);
	}

	&:hover {
		color: var(--color-accent);

		input:not([type=checkbox]), select, textarea {
			border-color: var(--color-accent);
			box-shadow: 0px 0px 0px 1px var(--color-accent);
		}

	}
}


fieldset {
	position: relative;
	margin-top: var(--spacing-broad);

	h3 {
		color: var(--color-accent);
		font-size: var(--text-big);
		padding-bottom: var(--spacing-thinner);
	}

	input[type=submit] {
		color: var(--color-clear);
		font-size: var(--text-smaller);
		text-transform: uppercase;
		padding: var(--spacing-thinnest) var(--spacing-thinner);
		background: var(--color-accent);
		cursor: pointer;

		&:hover {
			background: var(--color-main-light);
		}
	}

	>*:not(legend)+*,
	>div:not([class])>*+* {
		margin-top: var(--spacing-thin);
	}

	input[type=submit],
	button,
	.button {
		margin-right: var(--spacing-thinnest);
		margin-bottom: var(--spacing-thinnest);
		margin-left: 0;
	}
}

/*--------------------------------------------------------------------------
	Settings
--------------------------------------------------------------------------*/

fieldset.settings {
	position: relative;
	margin-bottom: var(--spacing-broad);
	padding: 0;

	@media (min-width: @md){
		padding-left: var(--dimension-tiniest);
	}

	> legend {
		line-height: 1.4em;
		margin-bottom: var(--spacing-thinnest);

		@media (min-width: @md){
			position: absolute;
			top: -0.1rem;
			left: 0;
			width: ~'calc(var(--dimension-tiniest) - var(--spacing-broad))';
		}
		@media (max-width: (@md - 1)){
			color: var(--color-accent);
			font-size: var(--text-big);
			padding: ~'calc(var(--spacing-thinnest) 0 var(--spacing-broad))';
		}
	}

	.frame {
		ul:not(.tags), ol:not(.tags) {
			margin: 0;
		}

		h2 {
			font-size: var(--text-current);
			font-weight: 400;
		}
	}

	span.frame {
		margin: 0;

		& + span.frame {
			margin-top: var(--spacing-thinnest);
		}

		& + p.help {
			margin-top: var(--spacing-micro);
		}
	}

	> p a {
		color: var(--color-accent);

		&:hover {
			color: currentColor;
		}
	}

	select {
		width: 100%;
	}

	p.help {
		a {
			border-bottom: 1px solid currentColor;

			&:hover {
				border-color: transparent;
			}
		}

		&:last-of-type {
			& + div:not(.columns) {
				margin: var(--spacing-thin) 0;
			}
		}
	}

	input + p.help,
	select + p.help {
		margin-top: 1rem;
	}

	.toggle {
		position: absolute;
		line-height: 1.8em;
		margin: 2.5rem 0 0 ~'calc(var(--dimension-tiniest) * -1)';
		width: ~'calc(var(--dimension-tiniest) - var(--spacing-broad))';
		width: 17rem;

		@media (max-width: (@md - 1)){
			position: relative;
			font-size: var(--text-small);
			margin: 0;
			margin-bottom: var(--spacing-thin);
			width: auto;
		}
	}

	li .label {
		margin: 1rem 0 1.25rem;
	}

	& + fieldset.settings {
		margin-top: var(--spacing-broadest);

		@media (max-width: (@md - 1)){
			margin-top: var(--spacing-broad);
		}
	}

	&.condensed {
		label:last-of-type {
			margin-bottom: 0;
		}
	}

	& .column:last-of-type, & > label:last-of-type, &.label:last-of-type {
		margin-bottom: 0;
	}

	&:last-of-type {
		margin-bottom: 0;
	}
}
