/**
 * Frames are used in different areas of the system to group content,
 * e. g. in the section or data source editor.
 *
 * @since: Symphony 2.3
 */

/*-----------------------------------------------------------------------------
	LESS — Variables Importing
-----------------------------------------------------------------------------*/

@import "variables";

/*--------------------------------------------------------------------------
	Basic Frame
--------------------------------------------------------------------------*/

.frame {
	box-sizing: border-box;
	border-radius: var(--radius-big);
	position: relative;
	margin: 0;
	background-color: var(--color-main-lightest);
	padding: var(--standard-inner-rhythm);
	// border: 1px solid var(--color-accent-lighter);
	// padding: var(--spacing-thinner);

	h1 {
		padding: var(--spacing-thinnest);
		color: var(--color-main);
		font-size: inherit;
		font-weight: normal;
		line-height: inherit;
		background-color: var(--color-main-lighter);
	}

	a {
		color: var(--color-accent);

		&:hover {
			color: currentColor;
		}
	}

	.tags {
		margin: ~'calc(var(--spacing-broad) * -1)' 0 var(--spacing-thinner);
	}

	iframe {
		display: block;
		margin: 0 auto;
		width: 368px;
		max-width: 100%;
		height: 206px;
	}

	> button {
		// font-size: var(--text-smaller);
		// text-transform: uppercase;
		// line-height: 1.6rem;
		// margin: 0;
		// padding: var(--spacing-thinnest) var(--spacing-thinner);
		// background: var(--color-accent);
		// border-radius: var(--radius-current);
		// cursor: pointer;

		&:not(:disabled):hover {
			// border-color: var(--color-main-dark);
			// background: var(--color-main-dark);
		}

		&:disabled {
			// cursor: default;
		}

		& + button {
			margin-left: var(--spacing-micro);
		}
	}

	.instance {
		background-color: var(--color-main-lightest);
		// margin-bottom: var(--spacing-pico);
		border: 1px solid transparent;
		border-radius: var(--radius-current);

		&:not(.collapsed) {
			border-radius: var(--radius-big);
			background-color: var(--color-clear);
			// box-shadow: var(--shadow-small);
			z-index: 1;
			border-color: var(--color-ui);
			// border-top-color: var(--color-main-light);
			&:not(:first-of-type) {
				margin-top: var(--standard-inner-rhythm);
			}

			&:not(:last-of-type) {
				margin-bottom: var(--standard-inner-rhythm);
			}
		}
	}


	&.empty ol {
		// min-height: var(--standard-field-height);
		// background-color: var(--color-main-lighter);
		// border-radius: var(--radius-current);
		// border: 2px dotted var(--color-ui);
		// padding: var(--standard-inner-rhythm);
	}
}

/* Headers */

.frame-header {
	display: flex;
	align-items: baseline;
	position: relative;
	border: 1px solid transparent;
	padding: var(--spacing-thinner) var(--standard-container-rhythm);
	// margin-bottom: var(--spacing-pico);

	h4 {
		display: flex;
		align-items: baseline;
		flex-grow: 1;
		
		strong {
			font-weight: inherit;
		}

		span, & + span {
			font-size: var(--text-small);
			padding-left: var(--spacing-thinnest);
		}

		.type {
			order: 2;
			margin-left: auto;
			margin-right: var(--spacing-thin);
		}

		svg {
			padding-left: var(--spacing-thinner);

			* {
				.transitioned(~'fill');
			}
		}

		.required {
			color: var(--color-main);
		}
	}

	// > a:first-of-type {
	// 	margin-left: auto!important;
	// }

	:not(.collapsed)>& {
		border-top-color: transparent;
		// border-bottom-color: var(--color-accent-lighter);
		top: var(--spacing-micro);
		// padding-left: 0;
		// padding-top: var(--spacing-thin);
	}

	&:hover {
		color: var(--color-accent);
	}

	// &.main, &.sidebar {
	// 	&+.content {
	// 		padding-left: var(--spacing-broader);
	// 	}
	// }

	&.main:before,
	&.sidebar:before {
		content: "〈";
		writing-mode: vertical-lr;
		font-weight: 900;
		margin-right: var(--spacing-thinner);
		margin-left: ~'calc(-1 * var(--spacing-nano))';
		font-size: var(--text-current);
		color: inherit;
		height: 0;

		.collapsed & {
			transform: scaleY(-1) translateY(3px);
			align-self: flex-end;
		}
	}

	&.sidebar:before {
		border-right-color: var(--color-main-light);
		border-left-color: var(--color-main-lighter);
	}
}

/*--------------------------------------------------------------------------
	Inline frames (e. g. upload fields)
--------------------------------------------------------------------------*/

span.frame,
fieldset.frame,
.frame.inline {
	display: block;
	margin-bottom: var(--spacing-thin);
	padding: var(--spacing-thinnest);
}

/*--------------------------------------------------------------------------
	Controls
--------------------------------------------------------------------------*/

.duplicator {
	.apply {
		// margin-top: 2rem;
		text-align: right;
	}
}

.frame .destructor,
.frame .debug {
	color: var(--color-main-light);
	font-size: var(--text-small)!important;
	margin: 0 0 0 var(--spacing-thinner);
}

.frame .destructor {
	margin-left: auto;

	a {
		padding: 0 0 0 var(--spacing-thinnest);
	}
}

.frame .destructor:hover,
.frame .debug:hover,
.frame .constructor:hover {
	// color: var(--color-main-dark);
}

.frame .disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

/* Applicators */

.frame .actions {
	margin: 0 0 var(--spacing-thinnest);
}

.frame .actions input {
	margin-top: 0;
}

.frame .actions button {
	float: right;
}

/*-----------------------------------------------------------------------------
	Orderables and Selectables
-----------------------------------------------------------------------------*/

.frame .selected,
.frame .ordering {
	position: relative;
	box-shadow: var(--shadow);
}

.frame .ordering .frame-header span,
.frame .ordering .frame-header .destructor,
.frame .ordering .content i,
.frame .ordering ul.tags {
	color: var(--color-main-lighter);
}

/*-----------------------------------------------------------------------------
	Collapsibles
-----------------------------------------------------------------------------*/

.constructable,
.collapsible {
	// padding: 0;
}

fieldset.settings .constructable,
fieldset.settings .collapsible {
	// background: none;
}

.constructable > * > li,
.collapsible > * > li {
	position: relative;
	width: 100%;

	fieldset.settings & .content {
		padding: var(--standard-container-rhythm);
		// padding-bottom: var(--spacing-broader);

		>*:not([type="hidden"])+*,
		>div:not(.columns)>*+* {
			margin-top: var(--spacing-thin);
		}
	}
}

.collapsible .instance.collapsed {
	overflow: hidden;

	&:hover {
		z-index: 2;
		// box-shadow: var(--shadow-small);
		border-color: var(--color-ui);

		&:not(.ordering) {
			background-color: var(--color-clear);
		}
	}

	&:not(:hover)+.collapsed:not(:hover) {
		border-radius: 0;
		border-top-color: var(--color-ui);
	}
	
	// &:not(:last-child):hover + * {
	// 	border-top-color: transparent;
	// }
}

.orderable .instance.collapsed .frame-header {
	cursor: s-resize;
}

.orderable .instance:not(.collapsed) .frame-header {
	cursor: n-resize;
}

.orderable .instance.ordering .frame-header {
	cursor: move;
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}

.orderable .instance.ordering {
	background-color: var(--color-accent-alt-light);
}

.orderable .instance.ordering > * {
	background: transparent !important;
	color: var(--color-main-light) !important;
}

.collapsible legend {
	padding-right: 0.5rem;
}

.collapsed.js-animate,
.destructed.js-animate {
	transition: max-height var(--duration-short) var(--ease-current);
}

.collapsible .js-animate {
	overflow: hidden;
}



.collapsible .field-publishnotes {
	margin-top: 0;
}

.frame .js-animate {
	overflow: hidden;
	transition: max-height var(--duration-short) var(--ease-current);
}

/*-----------------------------------------------------------------------------
	Invalid states
-----------------------------------------------------------------------------*/

.conflict {
	.frame-header {
		background-color: var(--color-error)!important;

		* {
			color: var(--color-clear)!important;

		}
	}
}
