/**
* Symphony Navigation
*
* This file contains styles for the navigation menu
*
* @since Symphony 4.0.0
*/

/* Less variables --------*/
@import "variables";

/* Main nav container --------*/
[id="nav"] {
	font-size: var(--text-big);

	/* Base layout, styles and rhythm --------*/
	a, span {
		display: block;
		position: relative;
		cursor: pointer;
		color: inherit;
		font-weight: 740;
		line-height: 1.125em;
	}

	*+* {
		margin-top: calc(var(--spacing-thinnest));
	}

	/* Section Titles --------*/
	>span { 
		color: var(--color-main-light);
		text-transform: uppercase;
		font-size: var(--text-smallest);
	}

	/* First Level - Drawer Triggers --------*/
	> ul {
		margin-bottom: var(--standard-outer-rhythm);

		> li {
			> span {
				color: var(--color-main);
				svg {
					transition-duration: var(--duration-shortest);
					position: absolute;
					left: calc(var(--spacing-thin) * -1);
					top: .4125em;
					opacity: 0.6;
				}
			}

			&:not(.opened) > span svg {
				transform: rotateZ(-90deg);
			}

			&.active>span, &:hover>span {
				color: var(--color-main-dark);
			}
		}

		/* Drawers --------*/
		ul {
			display: none;
			padding-left: var(--standard-outer-rhythm);
			margin-left: calc(-1 * var(--spacing-thinner) - 2px);
			border-left: 2px dotted var(--color-main-lighter);



			li.active a,
			a:hover {
				color: var(--color-accent);
			}
		}
	}
}