/**
* Symphony Controls
*
* This file contains styles for the
* publishing controls of the main contents container
*
* @since Symphony 4.0.0
*/

@import "variables";

[id="controls"] {
	
	/* Necessary to align items precisely --------*/
	display: flex;
	align-items: center;

	/* Zap strutural elements so we can order buttons directly --------*/
	div, ul, li {
		display: contents;
		background-color: inherit;
	}

	/* General button styles --------*/
	a, button {
		background: transparent;
		box-shadow: initial;
		display: flex;
		color: var(--color-main);
		position: relative;
		border-radius: 100%;

		/* Size icons --------*/
		svg {
			width: 20px;
			height: 20px;
		}

		/* Interactive title tooltip --------*/
		&[title]:after {
			content: attr(title);
			position: absolute;
			right: 100%;
			margin-right: var(--spacing-micro);
			font-size: var(--text-smaller);
			white-space: nowrap;
			padding: var(--spacing-nano);
			background-color: inherit;
			color: inherit;
			font-weight: 500;
			border-radius: var(--radius-small);
			box-shadow: var(--shadow-small);
			pointer-events: none;
		}

		&[title]:not(:hover):after,
		&[title].selected:after {
			opacity: 0;
		}

		/* Show closing icon when drawer is opened --------*/
		&.selected {
			&:before {
				content: "✖";
				position: absolute;
				top: 2px;
				left: -3px;
				padding: var(--spacing-pico);
				background-color: inherit;
				border-radius: 50%;
				width: 1em;
				height: 1em;
				line-height: 1em;
				display: inline-flex;
				align-items: center;
				justify-content: center;
			}

			svg {
				opacity: .4;
			}
		}

		/* Interactive styles --------*/
		&:hover {
			color: var(--color-main-lighter);
			background-color: var(--color-main);
		}

		&:active {
			background-color: var(--color-accent);
		}
	}

	/* Force delete button to bottom and give it red light styles --------*/
	.delete {
		order: 2;

		&:hover {
			background-color: var(--color-error-light);
			color: var(--color-error-dark);
		}
	}

	/* Make sure the blueprints always are at the end of the list --------*/
	a[href*="blueprints"] {
		order: 1;
	}

	/* Give preseance and green light styles to save & create buttons --------*/
	[name="action[save]"],
	.create {
		order: -1;

		&:hover {
			background-color: var(--color-success-light);
			color: var(--color-success-dark);
		}
	}
}

