/**
* Symphony Breadcrumbs
*
* This file contains styles for the breadcrumbs
*
* @since Symphony 4.0.0
*/

[id="breadcrumbs"] {
	display: flex;
	align-items: baseline;
	flex-grow: 1;
	max-width: 100%;

	/* Limited space backlink model --------*/
	nav {
		flex-shrink: 0;
		flex-grow: 0;
		box-sizing: border-box;
		position: relative;
		top: .25em;
		
		/* Mask backlink title but leave left arrow --------*/
		&:not(:hover) {
			a {
				color: transparent;
				overflow: hidden;
				text-overflow: ellipsis;
				pointer-events: none;
			}

			svg {
				color: var(--color-main-dark);
			}
		}

		/* Show backlink title over current page title --------*/
		&:hover {
			z-index: 1;
			a, svg {
				color: var(--color-accent);
			}
			&+h2 {
				opacity: .1;
			}
		}
		
		/* Backlink title --------*/
		p {
			display: block;
			position: absolute;
			bottom: 0;

			a {
				font-size: var(--text-small);
				font-weight: 760;
				display: block;
				white-space: nowrap;
				
				max-width: 100%;

				margin-left: var(--spacing-thinnest);

				&:first-of-type {
					margin-left: 0;
				}

				svg {
					margin-right: var(--standard-inner-rhythm);
					flex-shrink: 0;
				}
			}

			.sep {
				display: none;
			}
		}
	}

	/* Current page title --------*/
	h2 {
		font-size: var(--text-big);
		font-size: var(--text-big);
		font-weight: 560;
		padding-left: var(--standard-inner-rhythm);
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 100%;

		@media (min-width: @sm) {
			font-size: var(--text-bigger);
		}

		img {
			display: none;
		}
	}

	/* Inactive backlink --------*/
	p.inactive {
		display: inline-block;
		margin: 0;
		margin-left: var(--spacing-thinnest);

		span {
			color: var(--color-accent);
			font-size: var(--text-current);
		}
	}
}