/**
* Symphony Controls
*
* This file contains styles for the
* publishing controls of the main contents container
*
* @since Symphony 4.0.0
*/

@import "variables";

[id="controls"] {
	padding: var(--spacing-micro) var(--standard-inner-rhythm);
	display: flex;
	align-items: center;
	flex-direction: column;
	float: right;
	position: sticky;
	top: 0;
	z-index: 10;
	height: 100%;
	box-sizing: border-box;

	div, ul {
		display: contents !important;
	}


	a, button {
		background: transparent;
		box-shadow: initial;
	}


	a, button {
		display: flex;
		color: var(--color-main);
		position: relative;
		border-radius: 100%;

		/* Size icons --------*/
		svg {
			width: 20px;
			height: 20px;
		}

		&:after {
			content: attr(title);
			position: absolute;
			right: 100%;
			margin-right: var(--spacing-micro);
			font-size: var(--text-smaller);
			white-space: nowrap;
			padding: var(--spacing-nano);
			background-color: inherit;
			color: var(--color-main-lightest);
			font-weight: 500;
			border-radius: var(--radius-small);
			box-shadow: var(--shadow-small);
			pointer-events: none;
		}

		&:not(:hover):not(:focus):after {
			opacity: 0;
		}

		&:hover {
			color: var(--color-main-lighter);
			background-color: var(--color-main);

			&:before {
				background-color: var(--color-main-lighter);
			}
		}

		&:active {
			background-color: var(--color-accent);
		}
	}

	.delete {
		margin-top: auto;
	}

	[name="action[save]"] {
		order: -1;
		margin-bottom: var(--standard-inner-rhythm);
	}
}

