/**
* Symphony Controls
*
* This file contains styles for the
* publishing controls of the main contents container
*
* @since Symphony 4.0.0
*/

@import "variables";

[id="controls"] {
	
	/* Necessary to align items precisely --------*/
	display: flex;
	align-items: center;

	/* Zap strutural elements so we can order buttons directly --------*/
	div, ul, li {
		display: contents;
	}

	a, button {
		background: transparent;
		box-shadow: initial;
		display: flex;
		color: var(--color-main);
		position: relative;
		border-radius: 100%;

		/* Size icons --------*/
		svg {
			width: 20px;
			height: 20px;
		}

		/* Interactive title tooltip --------*/
		&:after {
			content: attr(title);
			position: absolute;
			right: 100%;
			margin-right: var(--spacing-micro);
			font-size: var(--text-smaller);
			white-space: nowrap;
			padding: var(--spacing-nano);
			background-color: inherit;
			color: inherit;
			font-weight: 500;
			border-radius: var(--radius-small);
			box-shadow: var(--shadow-small);
			pointer-events: none;
		}

		&:not(:hover):after {
			opacity: 0;
		}

		/* Interactive styles --------*/
		&:hover {
			color: var(--color-main-lighter);
			background-color: var(--color-main);

			&:before {
				background-color: var(--color-main-lighter);
			}
		}

		&:active {
			background-color: var(--color-accent);
		}
	}

	.delete {
		order: 2;

		&:hover {
			background-color: var(--color-error-light);
			color: var(--color-error-dark);
		}
	}

	a[href*="blueprints"] {
		order: 1;
	}

	[name="action[save]"],
	.create {
		order: -1;

		&:hover {
			background-color: var(--color-success-light);
			color: var(--color-success-dark);
		}
	}

	@media (max-width: @md) {
		[name="action[save]"],
		.create {
			margin-right: auto;
		}
	}

	@media (min-width: @md) {
		.delete {
			margin-top: auto;
		}

		[name="action[save]"],
		.create {
			margin-bottom: var(--standard-outer-rhythm);
		}
	}
}

