/**
* Symphony Navigation
*
* This file contains styles for the navigation menu
*
* @since Symphony 4.0.0
*/

/* Less variables --------*/
@import "variables";

/* Main nav container --------*/
#nav {
	font-size: var(--text-small);
	@media (max-width: @sm) {
		font-size: var(--text-big);
	}

	/* Base layout, styles and rhythm --------*/
	a, span {
		display: block;
		position: relative;
		cursor: pointer;
		color: inherit;
	}

	span {
		font-weight: 300;
	}
	
	a {
		font-weight: 450;
	}

	*+* {
		margin-top: calc(var(--standard-inner-rhythm) * .5);
	}

	/* Section Titles --------*/
	>span { 
		color: var(--color-main-light);
		text-transform: uppercase;
		font-size: var(--text-smallest);
	}

	/* First Level - Drawer Triggers --------*/
	> ul {
		margin-bottom: var(--standard-container-rhythm);

		> li {
			> span {
				svg {
					transition-duration: var(--duration-shortest);
					position: absolute;
					left: calc(var(--spacing-thin) * -1);
					top: .59125em;
					opacity: 0.6;
				}
			}

			&:not(.opened) > span svg {
				transform: rotateZ(-90deg);
			}

			&.active>span, &:hover>span {
				color: var(--color-accent);
			}
		}

		/* Drawers --------*/
		ul {
			display: none;
			padding-left: var(--spacing-thinner);
			margin-left: 2px;
			border-left: 2px dotted var(--color-main-lighter);

			li.active a,
			a:hover {
				color: var(--color-accent);
			}
		}
	}
}