:root {
	--scrollbar-background-color: transparent;
	--scrollbar-height: var(--spacing-micro);
	--scrollbar-width: var(--spacing-micro);
	--scrollbar-thumb-background-color: var(--color-ui);
	--scrollbar-thumb-border-radius: var(--radius-current);


	--backframe-background-color: var(--color-accent-lighter);
	--frontframe-background-color: var(--color-clear);
	--sidebar-background-color: var(--color-main-lightest);
	--sidebar-width: var(--dimension-tiny);

	--standard-container-rhythm: var(--spacing-broad);
	--standard-inner-rhythm: var(--spacing-thinner);
	--standard-side-rhythm: var(--spacing-broad);

	--standard-frame-background-color: var(--color-main-lightest);

	--standard-table-background-color: var(--color-main-lightest);
	--standard-hover-row-background-color: var(--color-clear);
	--standard-selected-row-background-color: var(--color-accent-alt-light);


	--standard-label-column-width: var(--spacing-larger);
	--standard-label-min-width: 20%;
	--standard-label-color: var(--color-main-light);
	--standard-label-font-size: var(--text-small);

	--standard-field-height: 8rem;
	--standard-field-color: var(--color-main-dark);
	--standard-field-border-color: var(--color-ui);
	
	--standard-field-hover-color: var(--color-accent);
	--standard-field-hover-border-color: var(--color-accent);

	--standard-field-focus-background-color: var(--color-accent-alt-light);
	--standard-field-focus-border-color: var(--color-accent-alt);
	--standard-field-font-size: var(--text-current);
	--standard-field-background-color: var(--color-clear);
	--standard-field-padding: var(--standard-inner-rhythm);
	--standard-field-radius: var(--radius-smallest);

	--standard-button-font-size: var(--text-smaller);
	
	--navigation-sidebar-width: var(--dimension-tiniest);
	--navigation-sidebar-max-width: 15%;
}
